.h2 {
  font-weight: normal;
  font-size: 30px;
}
.container {
  display: flex;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background-color: var(--primary-color);
  padding: 20px;
  border-right: 1px solid #e0e0e0;
}
.searchContainer {
  position: relative;
}

.searchInput {
  width: 20%;
  padding-left: 30px;
  padding-right: 10px;
  padding-top: 6px;
  padding-bottom: 6px;
  box-sizing: border-box;
  background-image: url("/search.png");
  background-position: 10px center;
  background-size: 20px 20px;
  background-repeat: no-repeat;
}

.createButton {
  margin-bottom: 20px;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

.buttonGroup button {
  margin-right: 10px;
}

.mainContent {
  flex-grow: 1;
  padding: 20px;
  background-color: #ffffff;
}

.tabGroup {
  margin-bottom: 20px;
}

.cardContainer {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background-color: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
  text-align: center;
}

.cardContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
