.mainContent {
    flex-grow: 1;
    padding: 25px;
    background-color: #f9f9f9;
  }
  
  .heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000000;
    margin-bottom: 2rem;
    padding: 0 20px;
  }
  
  .createButton {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    border: none;
    padding: 12px 28px;
    border-radius: var(--button-radius);
    cursor: pointer;
    font-size: 1.5rem;
    transition: background-color 0.3s ease;
  }
  
  .createButton:hover {
    background-color: #333;
  }
  
  .cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    padding: 1rem;
  }
  
  .card {
    background-color: var(--primary-color);
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 10px;
    text-align: left;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
    cursor: pointer;
  }
  
  .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  
  .cardContent span {
    margin-top: 1rem;
    font-size: 1.1rem;
    font-weight: var(--font-weight-medium);
    color: #333;
    margin-bottom: 5px;
  }
  
  .cardContent p {
    font-size: 0.9rem;
    color: #777;
  }
  
  .cardContent time {
    font-size: 0.95rem;
    color: #555;
    margin-top: 0.5rem;
  }
  
  .cardFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
  }
  
  .buttonContainer {
    display: flex;
    gap: 10px;
  }
  
  .editButton,
  .trashButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 6px;
    border-radius: 50%;
    color: #222;
    font-size: 18px;
    transition: background-color 0.2s, color 0.2s;
  }
  
  .editButton:hover {
    background-color: #eee;
  }
  
  .trashButton:hover {
    background-color: rgba(255, 0, 0, 0.1);
  }
  